/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
button {
	border: none;
	cursor: pointer;
	height: 25px;
}

button {
	border: none;
	box-shadow: none;
	outline: none;
	text-shadow: none;
	background-color: $red;
	color: white;
	width: 120px;
	height: 35px;
	transition: 0.4s ease-in-out;
	text-transform: uppercase;
	margin-top: 15px;

	&:hover {
		box-shadow: 2px 2px 7px #282a2c;
	}
}

.form-button {
	display: block;
	border: none;
	box-shadow: none;
	outline: none;
	text-shadow: none;
	background-color: $red;
	color: white;
	width: 30%;
	height: 35px;
	transition: 0.4s ease-in-out;
	text-transform: uppercase;
	margin: 15px 15px 0 0;
	grid-column: 2 / span 10;

	&:hover {
		box-shadow: 2px 2px 7px #282a2c;
	}
}
