/*------------------------------------*\
    #FORM
\*------------------------------------*/
form {
	margin: 0;
	padding: 0;
}


label {
}


::placeholder {

}


input[type=text],
input[type=email],
input[type=url],
input[type=phone],
input[type=number],
input[type=date],
input[type=tel],
input[type=search],
textarea {
	border: none;
	box-shadow: none;
	outline: none;
	text-shadow: none;
	padding: 5px;
	width: 90%;
	color: black;
	margin: 10px 0;


	&:hover {
		border: none;
		outline: none;
	}

	&:focus {
		border: none;
		box-shadow: none;
		outline: none;
		text-shadow: none;
	}

	a {
		color: $red;
	}
}

.comment-form-comment {
	textarea {
		margin: auto;
    display: block;
	}
}

.form-submit {
	border: none;
	box-shadow: none;
	outline: none;
	text-shadow: none;
	background-color: $red;
	color: white;
	width: 120px;
	height: 35px;
	transition: 0.4s ease-in-out;
	text-transform: uppercase;
	display:block;
	margin: auto;
	margin-top: 15px;

	&:hover {
		box-shadow: 2px 2px 7px #282a2c;
	}

	input {
		color: white;
		background-color: $red;
		text-transform: uppercase;
	}
}

.comments h2 {
	font-size: 1.5rem;
	padding: $mobile-padding;
}
//COMMENT RESPONSES
ul {
		padding: $mobile-padding;

}

//POST LEAVE A REPLY COMMENT FORM

.comment-respond {
	padding: 10px;
	color: black;
	background-color: rgba(211, 225, 231, 0.3);
	// background: linear-gradient(217deg, $light-grey, rgba(255,0,0,0) 70.71%),
  // linear-gradient(127deg, $light-blue, rgba(0,255,0,0) 70.71%),
  // linear-gradient(336deg, $dark-blue, rgba(0,0,255,0) 70.71%);
  }
#commentform {
	padding: 0 $mobile-padding;
	@include breakpoint(smedium) {
		padding: 0 $desktop-padding;
		display: grid;
		grid-template-columns: repeat( 2, 1fr );
	}
	p {
		text-align: center;
	}
	input[type="text"],
	textarea {
		width: 80%;
		display: block;
		margin: 10px auto;
	}
	@include breakpoint(smedium) {
		input[type="text"] {
			grid-column: 1;
		}
	}
	@include breakpoint(smedium) {
		.comment-form-comment {
			grid-column: 2;
			grid-row: 1 / span 4;
			textarea {
				height: 122px;
			}
		}
	}
	.form-submit {
		grid-column: 1 / span 2;
	}
}
