/*------------------------------------*\
    #HR
\*------------------------------------*/

.hr {

	&--space {
		background: none;
		border: none;
		height: 1px;
		margin: 15px 0;
	}

}


//BR code found here: https://stackoverflow.com/questions/7614928/change-br-height-using-css
/*br {
	content: "";
	margin: 2em;
	display: block;
	font-size: 24%;
}*/
