/*------------------------------------*\
    #ABOUT
\*------------------------------------*/
.about-header {
  position: relative;
  display: flex;
  justify-content: center; //vertical cross axis align
  align-items: center;  //horizontal cross axis align

  span {
    font-weight: bold;
  }
  //Overlay Mixin
  @include overlay;

  &__text {
    position: absolute;
    color: white;
    text-align: right;
    padding-right: 15px;
    border-right: 1px solid white;
    z-index: map-get($zindex, overlay);

    h2 {
      font-size: em(35px);

      @include breakpoint(smaller-screen) { //800
      font-size: em(50px);
    }
  }
}

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    top: 50px;
    vertical-align: middle;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    grid-column: 1 / span 12;
    width: 100%;

       @include breakpoint(smaller-screen) {
       grid-column: span 6;
      }

  // img:nth-of-type(1n) {
  //   grid-column: 1 / span 12;
  //   width: 100%;
  //
  //   @include breakpoint(smaller-screen) {
  //     grid-column: 1 / span 6;
  //     height: 680px;
  //   }
  // }
  // img:nth-of-type(2n) {
  //   grid-column: 1 / span 12;
  //   width: 100%;
  //
  //   @include breakpoint(smaller-screen) {
  //     grid-column: 7 / span 6;
  //     height: 680px;
  //   }
  }
  h3 {
    grid-column: 1 / span 12;
    text-align: center;
    font-size: em(40px);
    padding-top: 20px;
    @include breakpoint(smaller-screen) {
        padding: 35px;
    }
  }

  h4 {
    grid-column: 1 / span 12;
    font-size: em(27px);
    align-items: center;
    color: black;

    @include breakpoint(smaller-screen) {
  //    font-size: em(27px);
    }
  }

  //ALTERNATE BACKGROUND COLOR FOR TEXT
  &__text:nth-of-type(1n) {
    grid-column: 1 / span 12;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px $mobile-padding;

    @include breakpoint(smaller-screen) {
      grid-column: span 6;
      padding: 10px $desktop-padding;
    }
  }
  &__text:nth-of-type(2n) {
    grid-column: 1 / span 12;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px $mobile-padding;
    background-color: $light-grey;

    @include breakpoint(smaller-screen) {
      grid-column: span 6;
      padding: 10px $desktop-padding;
    }
  }
  a {
    color: $red;
  }
}

  p, h4 {
    flex: 1;
  }

  a:link {
    text-decoration: none;
  }
  a:hover {
    color: $light-blue;
  }
