/*------------------------------------*\
    #ABOUT
\*------------------------------------*/
.about-header {
  position: relative;

  span {
    font-weight: bold;
  }
  //Overlay Mixin
  @include overlay;

  &__text {
    position: absolute;
    color: white;
    text-align: right;
    top: 60px;
    left: 5%;
    right: 35%;
    padding-right: 15px;
    border-right: 1px solid white;
    z-index: map-get($zindex, overlay);

    @include breakpoint(large-mobile) {
  		left: -36%;
  	}
    @include breakpoint(smaller-screen) {
  		left: -60%;
  	}
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    top: 50px;
    vertical-align: middle;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  img {
    height: auto;
    object-fit: cover;
    object-position: center center;
    grid-column: 1 / span 12;
    width: 100%;
    // @include breakpoint(smaller-screen) {
    //   grid-column: 7 / span 6;
    //   height: 680px;
  }

  // img:nth-of-type(1n) {
  //   grid-column: 1 / span 12;
  //   width: 100%;
  //
  //   @include breakpoint(smaller-screen) {
  //     grid-column: 1 / span 6;
  //     height: 680px;
  //   }
  // }
  // img:nth-of-type(2n) {
  //   grid-column: 1 / span 12;
  //   width: 100%;
  //
  //   @include breakpoint(smaller-screen) {
  //     grid-column: 7 / span 6;
  //     height: 680px;
  //   }
  //}

  //ALTERNATE BACKGROUND COLOR FOR TEXT
  &__text:nth-of-type(1n) {
    grid-column: 1 / span 12;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $mobile-padding;

    @include breakpoint(smaller-screen) {
      grid-column: 1 / span 6;
      padding: $desktop-padding;
    }
  }
  &__text:nth-of-type(2n) {
    grid-column: 1 / span 12;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $mobile-padding;
    background-color: $light-grey;

    @include breakpoint(smaller-screen) {
      grid-column: 7 / span 6;
      padding: $desktop-padding;
    }
  }
  h3 {
    grid-column: 1 / span 12;
    font-size: em(20px);
    align-items: center;

    @include breakpoint(smaller-screen) {
      font-size: em(27px);
    }
  }
}

  p, h3 {
    flex: 1;
  }
  h3 {
    text-align: center;
  }

  a {
    color: white;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    color: $light-blue;
  }
