/*------------------------------------*\
    #CONTACT
\*------------------------------------*/

.contact-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: white;
  position: relative;
  @include overlay;
  padding-bottom: 10px;

    @include breakpoint(smedium) {
      padding-bottom: 20px;
    }

  img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 1000px;
      /*640px*/
      @include breakpoint(small) {
        height: 1350px;
      }
      /*900px*/
      @include breakpoint(smedium) {
        height: 900px;
      }
  }

  h2 {
    grid-column: 2 / span 10;
    text-align: center;
    z-index: map-get($zindex, overlay);

    @include breakpoint(smedium) {
      grid-column: 2 / span 5;
      text-align: left;
    }
  }
  h2:nth-child(3) {
    margin-top: 15%;
  }
//FORM
  &__form {
    grid-column: 2 / span 10;
    padding-bottom: 20px;
    z-index: map-get($zindex, overlay);

    @include breakpoint (smedium) {
      grid-column: 2 / span 5;  //splitting half way
      padding-right: 10%;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea {
      opacity: 0.8;
      width: 100%;
      padding-right: 0;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out;
      }

      //FORM OUT OF THE WAY
      label {
        display: block;
        letter-spacing: 2.1px;
        margin-left: 10px;
        text-transform: uppercase;
        position: relative;
        top: 59px;
        transition: top 0.5s ease-in-out;
        color: red;
        z-index: map-get($zindex, field);
      }

      label.out-of-the-way {
        top: 37;  //add class and move when label is clicked
      }

      //FORM HOVER EFFECT
      input:hover,
      textarea:hover {
        background-color: $light-grey;
        color: $dark-blue;
      }
      input:hover:focus::placeholder,
      textarea:hover:focus::placeholder {
        color: $red;
      }
  }
  &__button{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__clear {
      grid-column: 1 / span 3;
      width: 100%;
      margin: 0;

      @include breakpoint(small) {  //640px
        grid-column: 1 / span 1;
      }
    }
    &__submit {
      grid-column: 1 / span 3;
      width: 100%;
      margin: 0;

      @include breakpoint(small) {  //640px
        grid-column: 3 / span 1;
        grid-row-start: 1;
      }
    }
  }

  &__social {
    grid-column: 1 / span 12;
    z-index: map-get($zindex, overlay);
    //grid display
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);

    @include breakpoint (smedium) {
      grid-column: 7 / span 5;  //splitting half way
      padding-left: 10%;
    }

    ul {
      @include no-bullets;
      text-align: center;
      vertical-align: top;

      @include breakpoint(smedium) {
        text-align: left;
        display: flex;
      }

      li {
        flex: 1;

        .icon {
          width: 35px;
          height: 35px;
          padding-right: 30px;
          fill: white;
          transition: fill 1s ease-in-out;

          & :hover {
            fill: $light-blue;
          }

          @include breakpoint (smedium) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    &__info-desk {  //desktop
      display: none; //do not display on mobile

      @include breakpoint(smedium) {
      display: block;  //display after 900px
      margin-top: 88px;
      z-index: map-get($zindex, overlay);

        h2, p {
          text-align: left;
        }
        p {
          font-size: 1.3rem;
          line-height: 2.5rem;
        }
        h2, p {
          text-align: left;
        }
      }
    }
    &__info-mobile {  //mobile
      grid-column: 1 / span 12; //display on mobile sizes
      z-index: map-get($zindex, overlay);
        h2, p {
          text-align: center;
        }
        p {
          font-size: em(14px);
          line-height: 2.5rem;
        }
        @include breakpoint(small) {
          grid-column: 6 / span 4;
          h2, p {
            text-align: center;
          }
        }
      @include breakpoint(smedium) { //hide mobile info 900 px and up
          display: none;
      }
    }
  }
}
