/*------------------------------------*\
    #NEWS
\*------------------------------------*/
.center-heading h2 {
    text-align: center;
}

//FLEXBOX
.news-blogs1,
.news-blogs2 {
  display: flex;
  padding: $mobile-padding;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;  //aligns all items to the top of card

  &__row1,
  &__row2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    //align-content: space-between;
    //justify-content: space-between;
    padding-right: 15px;
    min-width: 200px;
    max-width: 300px;
    flex-basis: 300px;  //contstrain width of cards, working with max-width

      :last-child {
        padding-right: 0;
      }

    @include breakpoint(medium) {
      padding: 15px 15px 15px 0;

      :last-child {
        padding-right: 0;
      }
    }

    p:last-child {  //Continue Reading Link to very bottom right
      align-self: flex-end;
      margin-top: auto;
    }

    img {
      width: 100%;
      height: 164px;
      object-fit: cover;
    }

    .red-link {
      align-self: flex-end;
      margin-top: auto;
    }
  }
}
/* CSS GRID
.news-blogs {
  padding: $desktop-padding;
  display: grid;
  grid-template-columns: repeat(12, 1fr [col-start]);
  grid-gap: 20px;

  h3 {
    height: 45px;
  }

  &__card1 {
    grid-column: 1 / span 3;
    img {
      width: 100%;
      height: 164px;
      object-fit: cover;
    }
  }
  &__card2 {
    grid-column: 4 / span 3;
    img {
      width: 100%;
      height: 164px;
      object-fit: cover;
    }
  }
  &__card3 {
    grid-column: 7 / span 3;
    img {
      width: 100%;
      height: 164px;
      object-fit: cover;
    }
  }
  &__card4 {
    grid-column: 10 / span 3;
    img {
      width: 100%;
      height: 164px;
      object-fit: cover;
    }
  }
}*/

//NEWS INDIVIDUAL PAGE, Single.php
.news-article {
  display: grid;
  grid-template-columns: repeat(12, 1fr [col-start]);
  grid-gap: 20px;

  h2 {
    grid-column: 1 / span 12;
  }
  p {
    grid-column: 1 / span 12;
    padding: 0 $mobile-padding;
    @include breakpoint(smedium){
      grid-column: 1 / span 6;
    }
    @include breakpoint(regular-screen){
      grid-column: 1 / span 6;
      padding: 0 $desktop-padding;
    }
  }
  img {
    grid-column: 1 / span 12;
    width: 100%;
    object-fit: cover;
    height: 400px;

    @include breakpoint(smedium) {
      grid-column: 7 / span 6;
      height: 500px;
      grid-row: 2 / span 4;
    }
    @include breakpoint(regular-screen){
      grid-column: 7 / span 6;
      height: 350px;
    }
  }
}
.tagcloud,
.widget_archive {
  padding: $mobile-padding;
  text-align: center;

  @include breakpoint(smedium) {
    display: block;
    margin: auto;
    width: 50%;
  }
.widget_tag_cloud,
.comment-reply-title {
    text-align: center;
}
  a {
    color: $light-blue;
  }

    @include breakpoint(smedium) {
      padding: 0 $desktop-padding 20px $desktop-padding;
    }
  }
label.screen-reader-text {
  display: none;
}
#archives-dropdown-3 {
  display: block;
  margin: auto;
  text-align: center;
  font-family: "Montserrat";
}
.comments {
  h2 {
    text-align: center;
  }
}
.comments__responses {
  &__one__original {
    @include breakpoint(smedium) {
      display: grid;
      grid-template-columns: 30% 1fr;
    }
  }
  &__avatar {
    grid-column: 1;
    img {
      border-radius: 50%;
      display: block;
      margin: auto;
      width: 100px;
      height: 100px;
      @include breakpoint(smedium) {
        width: 140px;
        height: 140px;
      }
    }
  }
  &__content {
    padding: 0 10px;
    a {
      color: black;
    }
  }
  &__reply {
    a {
      color: $red;
    }
  }
}
.parent {
  position: relative;
}
.picture img {
  position: absolute;
  top: -200px;
}
