/*------------------------------------*\
    #TOUR
\*------------------------------------*/
.tours-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-weight: bold;
  }
  //Overlay Mixin
  @include overlay;

  &__text {
    position: absolute;
    color: white;
    text-align: right;
    padding-right: 15px;
    border-right: 1px solid white;
    z-index: map-get($zindex, overlay);

    h2 {
      font-size: em(35px);

      @include breakpoint(smaller-screen) { //800
      font-size: em(50px);
    }
  }
}

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    top: 50px;
    vertical-align: middle;
  }
}

.tours-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr [col-start]);
  div:nth-of-type(2n) {
    background-color: $light-grey;
  }
  @include breakpoint(small) {
    font-size: 1.5rem;
  }

    &__section-text {
      grid-column: 1 / span 12;
      padding: $mobile-padding;
      display: flex;
      align-items: center;
      flex-direction: column;

      h3, p {
        flex: 1;
      }
      @include breakpoint(large-mobile) {
        padding: $desktop-padding;
      }
      @include breakpoint(medium) {   //1024px mq
        grid-column: 1 / span 6;
      }
    }

    &__image {
      grid-column: 1 / span 12;
      width: 100%;
      height: 100%;
      max-height: 300px;
      object-fit: cover;
      @include breakpoint(medium) {   //1024px mq
        grid-column: 7 / span 6;
        max-height: 500px;
      }
    }
}
