
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=2b34315c94507804a2fba23e381d904f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress