
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c93c8ce5f8e10409e1cf9f45b6d07b0c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress