/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header {
	position: relative;
}

.lighthouse-image {
	width: 150%;
	height: 400px;
	object-fit: cover;
	vertical-align: middle;
	/*margin-top: 55px;*/

	@include breakpoint (large-mobile) {
		width: 125%;
	}

	@include breakpoint (small) {
		width: 100%;
		height: auto;
		//FLIP HORIZONTAL
		transform: scaleX(-1);
		filter: FlipH;
	}
}
.sg-logo {
	position: absolute;
	width: 55%;
	top: 75px;
	left: 25%;
	//640px mq
	@include breakpoint (small) {
		width: 30%;
	}

	//800 px mq
	@include breakpoint(smaller-screen) {
		top: 95px;
		width: 35%;
		left: 35%;
	}

	//1200 px mq
	@include breakpoint(regular-screen) {
		top: 13%;
	}

}



/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
	display: none;  //hide for mobile portrait 768px
	background-color: $dark-blue;
	text-transform: uppercase;
	height: 35px;
	width: 100%;
	position: sticky;
	top: 0;


	@include breakpoint(portrait) {  //display over 768px
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		z-index: map-get($zindex, navigation);
	}

	&__navigation {
		display: flex;  //parent
		@include no-bullets;
		grid-column: 1 / span 7;
		align-items: center;

		> li {
			flex: 1; //child
			text-align: center;

			> a {

				&:hover {
				}
				&:link {
					text-decoration: none;
				}
				&:visited {

				}
				&:active {
				}
			}
		}
	}
	ul.nav__social-media {
		@include no-bullets;
		grid-column: 11 / span 2;
		display: flex;
		align-items: center;
		padding-top: 7px;

		> li {
				flex: 1;
		}
	}
}


	/*------------------------------------*\
	    #HAMBURGER
	\*------------------------------------*/
.hamburger {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: map-get($zindex, hamburger);

	@include breakpoint(portrait) {  //do not dislay this after 768 px
		display: none;
	}

	svg {
		fill: $dark-blue;
		height: 30px;
		width: 30px;
	}
}

.mobile-nav {
	background: $dark-blue;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 100%;
	top: -100%;
	transition: bottom 0.25s ease-in-out, top 0.25s ease-in-out;
	z-index: map-get($zindex, mobile-nav);

	&.open {
		bottom: 0;
		top: 0;
	}

	&__close {
		color: $dark-blue;
		position: absolute;
		right: 10px;
		top: 10px;

		a {
			text-decoration: none;
			font-size: em(32px);
		}
	}

	ul {
		@include no-bullets;

		li {
			font-family: $sans;
			font-size: em(24px);
			line-height: 1.33;
			letter-spacing: 2.7px;
			text-align: center;
			margin-bottom: 20px;
		}

		a {
			color: white;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
