/*------------------------------------*\
    #BOOKING
\*------------------------------------*/

.booking {
  background-color: $dark-blue;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  width: 80%;
  height: 100%;
  position: relative;
  margin: -88px auto -45px auto;
  z-index: map-get($zindex, overlay);

  @include breakpoint(smaller-screen) {
    width: 60%;
    margin: -88px auto -63px auto;
  }

  h4 {
    font-size: 1.5rem;
      @include breakpoint(small) {
        font-size: 2rem;
      }
  }

  &__title {
    grid-column: 1 / span 10;
  }
  &__date {
    grid-column: 2 / span 3;
  }
  &__visitors {
    grid-column: 7 / span 3;
  }
  &__button {
    grid-column: 2 / span 8;
    margin: 17px auto 10px auto;
    width: 100%;
  }

  //800px mq
  @include breakpoint(smaller-screen) {
    &__title {
      grid-column: 1 / span 10;
    }
    &__date {
      grid-column: 2 / span 2;
    }
    &__visitors {
      grid-column: 5 / span 2;
    }
    &__button {
      grid-column: 8 / span 2;
      margin: 37px auto 20px 0;
      width: 120px;
    }
  }
}

.booking-inline {
  margin: 12px auto;
}
.stripe {
  width: 100%;
  height: 20px;
  margin-top: -20px;
  background: linear-gradient(top, $light-blue 40px, #FFF 80px);

  @include breakpoint(smaller-screen) {
    margin-top: -9px;
  }
}
