/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/
.pagination {
  display: grid;
  grid-template-columns: repeat( 2, 1fr );
  @include breakpoint(smedium){
      margin: 0 30%;
  }
  padding: $mobile-padding;

  button  {
    display: block;
    margin: auto;
  }

  &__prev-post {
    grid-column: 1;
  }

  &__next-post {
    grid-column: 2;
  }

  &__prev-post a,
  &__next-post a {
    color: white;
  }
}

.index-pagination {
    button  {
      display: block;
      margin: auto auto 25px auto;
    }
}
